{%extends 'base/base.html' %}

{%block title_section%}
Agregar programa
{%endblock%}

{%block main%} 
<form method="POST">
    {% csrf_token %}
    {{form.as_p}}
  <!--  <label for="Periodos">Nombre del programa</label>
    <input id="periodos" type="text" value="{{ nombrePrograma }}">
    <br>
    <label for="Periodos">Número de periodos:</label>
    <input id="periodos" type="text" value="{{ numPeriodos }}">-->
    <button class="btn btn-primary" type="Submit" style="display: block; margin: 0 auto;">Guardar</button>
</form>
{%endblock%}