{%extends 'base/base.html' %}

{%block title_section%}
Programas académicos
{%endblock%}

{%block main%} 
<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Programas</h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
         <thead>
                <tr>
                    <th>Carrera</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% if programas%}
            {%for programa in programas%}
                <tr>
                <td>{{programa.nombrePrograma}}</td>
                <td>
                <a class="btn btn-primary" href="{% url 'materias:lista_materias' programa.id%}">Ver materias</a>           
                </td>
                </tr>
                {%endfor%}
            {%endif%}    
            </tbody>
        </table>
    </div>
</div>
</div>

</div>

{%endblock%}